.navbar{
  background-image: linear-gradient(315deg, #fc935f  0%, #5e2c2c 120%);
   color:rgb(33,37,41)!important;
   margin-left: 0px;
}
.footer {
  color: #5e2c2c;
  background-image: linear-gradient(315deg, #fc935f  0%, #5e2c2c 120%);
  height: 50px;
  text-align: center;
  font-size: 20px;
}
.navbar-logo {
  width: 110px;
}
.main-block{
  background: url('../../public/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 height: 100vh;
 display: flex;
 align-items: center; 
 justify-content: center;
 filter: blur(3px);
 -webkit-filter: blur(3px);
}
.main-header{
  font-family: SangbleuSans,serif;
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  letter-spacing: -.02em;
}
.discover{
  padding-top: 80px;
  font-family: Helvetica,sans-serif;
  color: white;
  font-size: 20px;

}
.logo{
  margin-left: 10px;
  font-family: Menlo, monospace;
  font-size: 24px;
  letter-spacing: 4px;
}
.nav-link{
  font-size: 20px;
}
.search{
  float: left;
  color: whitesmoke;
}
.collapse{
  position: relative;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
#vmap{
  width: 600px; height: 400px;
}
@media all and (min-width: 992px) {
.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .nav-link{ color: #fff;  }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.dropdown-menu{
  text-align: center;
  background-image: linear-gradient(#a0481c   0%, #eb9f79 140%);
}
.dropdown-item:hover{
  background-color: #df9672
}
.modal-backdrop {
  z-index: -1;
}
.modal-item{
  font-size: 20px;
}
.modal-content{
  border-radius: 50px !important; 
  color: #4d2121;
  text-align: center;
  background-image: linear-gradient(#fc935f  0%, #5e2c2c 120%);
}
.input-search{
  padding: 6px;
  border-radius: 50px !important; 
  background-image: linear-gradient(#fc935f  0%, #ec8856 120%);
  width: 99%;
  border: 0;
  height: 70px;
  font-size: 24px;
}
textarea:focus, input:focus{
  outline: none;
  color: #4d2121;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #faccb6;
  opacity: 1; /* Firefox */
}
.close-btn{
  color: #faccb6;
}
.dropdown-item{
  font-size: 16px;
}




/********** second block main page
****
*/
.continent-row{
 padding: 0px 20px 50px 60px;
}
.continent{
  margin-bottom: 40px;
}
.continent-filter-row{
  margin: 20px 50px 50px 50px;
  padding: 10px;
}
.continent-filter-p{
  cursor: pointer;
  width:max-content;
border: 2px solid black;
}
.continent-filter{
  margin-top: 30px;
  color: black;
  font-weight: 500;
  font-family: 'Courier New', monospace;
  font-size: 28px;
  height: 50px;
}
.block-two{
  background-image: linear-gradient(315deg, #fc935f  0%, #5e2c2c 120%);
}
.image{
  width: 15vh;
  height: 15vh;
}

.main-header2{
  float: left;
  font-family: SangbleuSans,serif;
  color: black;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  letter-spacing: -.02em;
  text-align: right;
}
.discover2{
  padding-top: 80px;
  font-family: Helvetica,sans-serif;
  color: black;
  font-size: 20px;

}
.main2{
  overflow: hidden;
}
.contour{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.countries{
  background-image: linear-gradient(370deg,  #fc935f  0%, #5e2c2c 120%);
}
.continent2{
  margin-top: 60px;
  height: 97vh;
  background-image: linear-gradient( 150deg,#fc935f  0%, #5e2c2c 120%);
}
.continent-row{
margin-top: 100px;
}
.country-table{
  font-family: 'Courier New', monospace;
  font-size: 28px;
}
.continent-table{
  font-size: 50px;
}


/*country*/
.city-descr{
  padding-top: 100px;
  cursor: pointer;
  text-align: center;
}
.filter-cntry{
  margin-bottom: 50px;
  text-align: center;
  margin-left: 50px;
  background-color: #451818aa;
  color: #eb9f79;
  border-radius: 8px;
  width: 200px;
}
.cities{
  margin-bottom: 100px;
}

.country-desc{  
  text-align: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: #4d2121;
  margin-top: 25px;
}
.country-city{
  margin-top: 50px;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: black;
	opacity: 0.7;
	font: 500 50px 'Bitter';
}
.country-h{
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
	text-shadow: -1px -1px 0px #9e6b6b, 1px 1px 0px #4d2121;
	color: black;
	opacity: 0.7;
	font: 500 100px 'Bitter';
}
.country-h2{
  text-align: center;
  padding-top: 90px;
  padding-bottom: 50px;
	text-shadow: -1px -1px 0px #9e6b6b, 1px 1px 0px #4d2121;
	color: black;
	opacity: 0.7;
  font-size: 50px;
}
.contact-btn{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: #4d2121;
  margin-top: 100px;
  border: 1px solid #4d2121;
  border-radius: 15px;
}
.city-block{
  width: 100%;
}
/*input*/
.wrapper {
  display: flex;
  align-items: center;
  width: 60%;
  border-radius: 8px;
  padding-left: 16px;
}

.input {
  border: 1px solid black;
  background-color: transparent;
  padding: 16px;
  width: 100%;
  height: 70px;
  outline: none;
  border-radius: 8px;
}

.input::placeholder {
  color: #4d2121;
  margin-left: 100px;
}
.wrapper{
 margin-left: 20%;
  display: flex;
  align-items: center;
font-size: 30px;
  
  padding-left: 16px;
  height: 70px;
}
.country-page{
  
  background-image: linear-gradient( 370deg,#fc935fb9  0%, #5e2c2c 120%);
}
.country-page2{
  background-image: linear-gradient(370deg,  #fc935f  0%, #5e2c2c 120%);

  min-height: calc(100vh - 50px);
}

.before-input{
  height: 40px;
}

/*city page
*/
.input-city{
  padding-top: 20px;
}
.image-city{
  width: 40vh;
  height: 26vh;
  margin-bottom: 50px;
}
.city-main-img{
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 50vh;
  width: 100%;
}
.city-main-caption{
  font-family: SangbleuSans,serif;
  color: white;
  font-size: 100px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  letter-spacing: -.02em;
}
.city-filter{
  padding-left: 10vh;
  height: 70px;
 background-color: #faccb6;
  position: relative;
  z-index: 99;
}
.filter-item{
  padding-top: 10px;
}
.filter-name{
  color: #4d2121;
  font-family: Helvetica;
  font-size: 20px;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 992px){
  .city-filter{
    height: 140px;
    text-align: center;
   background-color: #faccb6;
  }
}
@media screen and (max-width: 768px){
  .city-filter{
    height: 210px;
    text-align: center;
   background-color: #faccb6;
  }
}
.sightseeing-h{
  font-family: SangbleuSans,serif;
  color: #faccb6;
  font-size: 80px;
  width: 100vw;
  letter-spacing: -.02em;
  display: table-cell;
  vertical-align: middle;
  background-color: #6c3535;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5vw;
}

.places-div{
  padding-bottom: 50px;
  background-image: linear-gradient( 370deg,#fc935fb9  0%,  #6c3535 150%);
}
.one-place{
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
 
  
}
.filter-btn{
  color: black;
  font-size: 30px;
  text-align: center;
  height: 60px;
  border-radius: 10px;
  width: auto;
  
}
.filter-p{
  text-align: center;
  border-radius: 10px;
  border: 3px solid black;
  padding: 5px;
  height: 60px;
}
.small-icon {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 3px solid black;
  padding: 5px;
}
.icon-container{
margin: 40px 50px 150px 50px;
}
.place-name{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
.place-desc{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.place-h{
  margin-top: 30px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.place-p{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.modal-f{
  padding-top: 20px;
}
.map{
  background-image: linear-gradient(315deg, #fc935f  0%, #5e2c2c 120%);
  height: 90vh;
}
.map-chart{
  margin-top: -100px;
  height: 100vh;
  width: 90vw;
  padding-left: 10px;
  margin-right: -100px;
}
.tooltip{
  background-color: #5e2c2c;
  color: #faccb6; 
}


















